[2018-09-07 15:57] aaron-suarez opened #5 "Make rollbacks a bit cleaner"
Something like this

[code]

http://flask.pocoo.org/docs/1.0/api/#flask.Flask.teardown_request

[2018-09-07 15:59] aaron-suarez opened #6 "Make import_resources() a click command"
Click command info here https://pythonhosted.org/Flask-CLI/.

Big picture, we don't want to have to import the resources from the yaml file every single time, just the first time.

[2018-10-07 16:15] #6 closed

[2018-10-07 18:06] aaron-suarez opened #12 "No linting"
We should include a PEP8 linter to make sure we format things correctly.

[2018-10-07 18:38] aaron-suarez opened #13 "No setup instructions for Windows"
The README explains the development setup steps for Mac, but not for Windows. Eventually, we want to move to some type of Docker setup, but for the moment, it would be helpful to describe the steps to get this working for contributors working on Windows machines.

[2018-10-07 18:39] wimo7083 opened #14 "Routes needed"
I'm going to be lazy and put these here in one. Think of them each as an issue.

- [x] GET /resources (get all resources, probably want some pagination for this)
- [ ] GET /resources/{id} (get a specific resource)
- [ ] GET /categories (get the list of available categories)
- [ ] GET /categories/{category} (get the resources for a named category, probably want pagination for this)
- [x] GET /langu

[2018-10-07 18:42] aaron-suarez opened #15 "Implement pagination"
When pulling all the resources with `GET /resources`, we need to limit results so it doesn't take forever to return the JSON. Right now in my local setup with a remote database, it takes about 3 minutes to get all the resources, which is way too long. I think returning results 20 at a time might be a good number to start with, but if anyone has any other opinions on the number of results, feel fre

[2018-10-07 18:55] aaron-suarez opened #16 "Implement tests"
We have no unit tests. There is no way of verifying that when changes are made that it doesn't break something else. It might not be a bad idea to implement the [unittest framework](https://docs.python.org/3/library/unittest.html), but if there's a more flask-specific solution, that would work as well.

[2018-10-11 22:49] aaron-suarez opened #18 "Issues concerning data in resources.yml (and, by extension, the DB)"
The following are known issues that exist with the data:

- [ ] Some (many?) resources have "multiple" as a language, instead of listing out the multiple languages
- [ ] Some categories only have 1 to 3 resources. If it can be combined with another category, it should be combined
- [ ] Some categories are repeats of other categories and should be combined into one. e.g., Web Dev and Web Developmen

[2018-10-17 16:25] wimo7083 opened #22 "Data Cleaning: Many -> specific"
In the provided data we have many instances where the language is listed as `multiple` (and possibly other vague values.

Acceptance criteria.

1. resources.yaml will no longer have any of these vague languages
2. any category you identify as vague will be added to a blacklist in the file db_setup script to prevent this happening in the future.

[2018-10-17 16:28] wimo7083 opened #23 "Data Cleaning: Consolidate categories"
Some categories have very limited number of resources: 1-3 resources in a single category. This change is to consolidate these categories into a more fitting one.

Acceptance criteria:
1. write CLI Command that processes `resources.yaml` and identifies these low usage categories and the resource that uses them
2. Where possible find a better broad category. In the future we might need sub-categori

[2018-10-17 16:32] wimo7083 opened #24 "Data Cleaning: Consolidate Synonyms within Categories"
Very many categories have similar values ex: `Web Dev` and `Web Development` this example might be taken care of but we should be looking for these.

Acceptance criteria:

1. Create a click command to find potential matches that are similar enough. Use fuzzy string matching, or something of the like.
2. Include simple unit tests for known examples  as this is going to be more hit and miss.
3. Make

[2018-10-17 16:32] wimo7083 commented on #18
Closing for three separate detailed issues.

[2018-10-17 16:32] #18 closed

[2018-10-17 16:33] wimo7083 commented on #16
Pytest is frickin awesome, if you'd like to see how we did it with flask in the other repo you can view here:
https://github.com/OperationCode/operationcode_pyback/tree/master/tests

[2018-10-17 16:44] wimo7083 opened #25 "Make API requests a little better (still need rate limiting)"
In order to prevent spam we want to setup all routes to have an api limiter:
https://flask-limiter.readthedocs.io/en/stable/

We also wish to start returning routes with more detailed information than the data in json format

If there's a style you prefer we can use it, here's one option. [google json ](https://google.github.io/styleguide/jsoncstyleguide.xml)
good response example:
[code]

error r

[2018-10-17 16:48] wimo7083 commented on #14
After reading about api practices:
1. We are using nouns and not verbs
2. We are using plural nouns
3. Using the HTTP status to correspond to the action
4. Pagination with default values and a way to reference  page.
5. version the api `api/v1/resources..`

[2018-10-17 16:51] wimo7083 commented on #5
Acceptance criteria

1. Install handler for teardown request - attempt any cleanup that should happen on good state
2. Install handler for unhandled exception - attempt any cleanup that should happen on bad state
3. Install handler for not-found route (404).

[2018-10-18 01:37] aaron-suarez commented on #14
I've decided that I don't like the name of the route `GET /languages/{language}` to get all of the resources associated with a language, nor `GET /categories/{category}` for all the resources for a category.

I think that naming it as such makes you expect that it would return a single `language` or `category` with that name, but that's not what it returns at all. I would think it should be `GET /

[2018-10-18 01:41] wimo7083 commented on #14
`GET /resources?category=value?language=value2`?

[2018-10-18 02:03] aaron-suarez commented on #25
For the responses that contain a number of resources, we should list the count of how many were returned. Theoretically, the pagination should take care of that, and whatever frontend consumes it can just do some type of `count()` or `length()` function in whatever language it's written in, but I have a feeling that having it in the response would still be useful.

[2018-10-18 02:07] aaron-suarez commented on #14
if you meant `GET /resources?category=value&language=value2`, I think that's a great solution. Plus, it's named explicitly, and you can filter for both category and language as you like

[2018-10-18 02:21] aaron-suarez opened #29 "GET /resources Route should take query params for language and category"
The original vision of routes was flawed. We originally wanted to have routes called `GET /categories/{category}` and `GET /languages/{language}` to get all of the resources for a category and language. After some discussion, @wimo7083 and I decided that it makes much more sense to have the single route for `GET /resources` take optional query parameters specifying the category and language. So a

[2018-10-18 02:23] aaron-suarez opened #30 "Need GET /resources/{id} Route"
This endpoint will return a specific resource based on the resource's id

[2018-10-18 02:25] aaron-suarez opened #31 "Need GET /categories Route"
This endpoint should get the list of categories and should implement pagination in the same manner as the patterns already implemented in the /resources endpoint (See #21)

[2018-10-18 02:25] aaron-suarez opened #32 "Need GET /languages Route"
This endpoint should get the list of languages and should implement pagination in the same manner as the patterns already implemented in the /resources endpoint (See #21)

[2018-10-18 02:31] aaron-suarez opened #33 "Need POST /resources Route"
This endpoint should create a new resource based on JSON form data sent with the POST.

*Required attributes*:
`category` - A string category. Endpoint should add it to existing category or create a new category if necessary
`languages` - An array of strings representing each language associated with this resource. Endpoint should add any new languages to the languages table and associate this res

[2018-10-18 02:35] aaron-suarez opened #34 "Need PUT /resource/{id} Route"
This endpoint should update a resource based on the id passed in and JSON form data given in the request.

*Required attributes*:
`id` - Integer. The id of the resource to update.

*Optional attributes*:
`category` - A string category. Create a new category if necessary, switch the association of this resource to the new category
`languages` - An array of strings representing each language associa

[2018-10-18 02:35] aaron-suarez commented on #14
Closing this issue in favor of specific issues that I just opened up

[2018-10-18 02:35] #14 closed

[2018-10-18 06:08] heavysaturn commented on #29
agreed. I will update #28 to do this instead.

[2018-10-18 19:45] aaron-suarez commented on #30
Fixed in #26

[2018-10-18 19:45] #30 closed

[2018-10-18 19:46] aaron-suarez commented on #34
It should return the updated resource

[2018-10-18 19:46] aaron-suarez commented on #33
It should return the created resource

[2018-10-18 20:20] heavysaturn commented on #25
A very classy way to do this (I'm so sorry!) would be to make use of class-based endpoints instead of the decorator and function-based endpoints we're using right now.

Flask has something called MethodView that you can inherit, which allows you to write a `get()` method or a `put()` method for that class in order to handle that specific http method. So then you create a hierarchy of classes where

[2018-10-18 20:43] heavysaturn commented on #13
I could probably add this, but yeah using docker and docker-compose would reduce the setup to:

1. install docker and docker-compose
2. fork this repo
3. clone your fork
4. run `docker-compose up` in the clone folder
5. if you're on windows or mac, run `docker-machine ip` to figure out what your docker ip is. if you're on *nix, you can just connect to localhost instead.
6. server is now running! g

[2018-10-18 21:05] heavysaturn commented on #13
it'd be _even better_ if we managed to get this to play well with pipenv as well, using docker-compose only for the postgres database and pipenv to build the venv, install the packages from pip, export the environment variables, and expose simple scripts the user could run.

- `pipenv run init` to set up the database with the initial data and make everything ready to run. here, the environment var

[2018-10-18 21:13] aaron-suarez commented on #25
I like that because it reminds me of a PHP framework I used to use at my old job that would abstract that stuff away from you. You would just add your data to the response object and it would take care of the rest.

I don't think that adding endpoints would be overly complicated for beginners/potential contributors, they would just follow the patterns of the other endpoints. It might confuse them

[2018-10-18 21:17] aaron-suarez commented on #13
We can do a few of those with click commands though, right? We already have some of that for the migrate/upgrade for example. Does pipenv offer some special benefit?

[2018-10-18 21:47] heavysaturn commented on #13
basically pipenv is a marriage of requirements.txt, pip and venv. You make a `Pipfile` that says which packages to use, which version of python to use for the venv, and as a bonus feature you can define these run scripts.

The user never has to create a venv, activate the venv, install packages (we can remove `requirements.txt` completely), or anything else. they just sync the pipenv, and then use

[2018-10-18 21:51] heavysaturn commented on #13
and while click commands are good for executing arbitrary python code, pipenv run scripts are really just for running terminal commands inside the venv, nothing more. I would argue that the two can work quite well together. You'd make click commands for more complex stuff that you need python for, and use pipenv run to execute those click commands from outside the venv.

[2018-10-19 00:11] wimo7083 commented on #25
Can you have functional and MethodView routes coexist?

Overall I'm fine with it.

[2018-10-19 00:12] wimo7083 commented on #13
I have no problem with pipenv, (except it's slow).

I just need to find time to implement docker but I'm hoping that I can do it this weekend.

[2018-10-19 04:51] michizhou commented on #32
@aaron-suarez I would like to take this issue!

[2018-10-19 05:17] wimo7083 commented on #32
Sure, good luck, let us know you have any issues.

Placeholder myself.

[2018-10-19 05:18] aaron-suarez commented on #32
Ok, just give me a day or two to get #21 taken care of, then implement the pagination in the same manner for this issue.

In the meantime, if you haven't already joined our slack team, you can join the conversation in the #oc-python-projects channel. Just sign up for slack via operationcode.org/join

[2018-10-19 14:43] aaron-suarez commented on #31
@michizhou I have someone else who I think wants to take this issue. If you want, #33 and #34 are a bit more complex, you can take either of those if you like.

[2018-10-20 04:03] #15 closed

[2018-10-20 19:52] heavysaturn opened #40 "Routes are not registered after linting merge."
Getting 404s on all routes on master branch, and `app.url_map` shows that no routes are being registered. I'll look into it.

[2018-10-20 22:18] heavysaturn commented on #25
they can coexist. it might be a bit messy, though.

[2018-10-20 22:41] heavysaturn commented on #16
`unittest` is what Miguel Grinberg uses in his [fairly well known Flask books and tutorials](https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-vii-unit-testing-legacy), and it would do the job.

There's also the [Flask-Testing extension](https://pythonhosted.org/Flask-Testing/), which provides some nice high level features like abstracting certain common assertions.

Lastly, there'

[2018-10-21 19:06] michizhou commented on #34
@aaron-suarez I have opened a PR that should solve this issue (see #38). Please let me know if you need me to make any changes. Thanks!

[2018-10-21 19:07] michizhou commented on #33
@aaron-suarez I have opened a PR that should solve this issue (see #39). Please let me know if you need me to make any changes. Thanks!

[2018-10-22 17:10] wimo7083 commented on #16
I know unit tests are difficult to setup at first. But we really need to prioritize this.

I'm going to make the call to use [pytest](https://pytest-flask.readthedocs.io/en/latest/)

[2018-10-22 17:29] heavysaturn commented on #40
fixed in #41. This issue can be closed.

[2018-10-22 17:33] wimo7083 commented on #16
If anybody wants to see how we started tests on pyback with pytest here's an example.
https://github.com/OperationCode/operationcode_pyback

I'd also like discussion on what unit tests we should add first. Do we add tests for ensuring the environment is ready, or do we start putting our routes in tests?

[2018-10-22 17:45] heavysaturn commented on #16
Testing all the routes is a good place to start, in my opinion.

[2018-10-22 17:56] aaron-suarez commented on #16
I think we should test the cli and routes since that's the majority of our business logic. Once we get the testing framework set up, we can add some issues with some missing tests and let newbies help out with that effort

[2018-10-25 02:10] aaron-suarez commented on #16
The testing framework has been implemented. Who wants to write some tests?

[2018-10-25 02:14] aaron-suarez commented on #29
This was fixed in #42

[2018-10-25 02:14] #29 closed

[2018-10-25 02:17] #40 closed

[2018-10-26 16:50] aaron-suarez opened #50 "Need CONTRIBUTING.md file"
We need to standardize our contributing guidelines in a CONTRIBUTING.md file. I would like to recommend everyone get on slack via https://operationcode.org/join so that way they can join the conversation there about changes they'd like to make to the repository. This way, we can have a standardized way to decide whether a new PR is spam or not, plus everyone is on the same page as far as contribut

[2018-10-27 19:13] aaron-suarez opened #52 "Need authentication and/or data rollback mechanism"
Once we merge #38, if we were to put this in production, anyone could change any resource to point to anything. Though we do indeed want to provide functionality to be able to add notes, update URLs, etc, we do not want trolls and hackers to be able to corrupt all of our data. We need a way to review changes as they're coming in so that if bogus or incorrect data is being injected to our database,

[2018-10-27 19:20] aaron-suarez commented on #32
The interface to the paginator changed and now doing `GET api/v1/languages` always returns an empty list.

We need to get the query to pass into `language_paginator.items` and take the `Language` argument out of the Paginator constructor.

[2018-10-27 20:19] #34 closed

[2018-10-28 00:46] michizhou commented on #32
@aaron-suarez How do you think we should do that? Should we just change the Paginator constructor call and its implementation or do we need to do something more?

[2018-10-28 18:07] #33 closed

[2018-10-28 18:17] michizhou commented on #32
@aaron-suarez Now that #39 has been merged, how do we think we should approach this? Should we just change the Paginator constructor call and its implementation or do something more?

[2018-10-28 18:28] aaron-suarez commented on #50
Sure! I'll assign myself to save it for you. Looking forward to your PR

[2018-10-28 19:12] michizhou commented on #32
@aaron-suarez I just created a new PR to deal with this reopened issue's concerns. Feel free to look over my changes and share your thoughts in a review.

[2018-10-28 20:10] #32 closed

[2018-10-29 13:35] VeraButler opened #55 "Unnecessary warning after flask run"
'Tip: There are .env files present. Do "pip install python-dotenv" to use them.'

[2018-10-29 18:48] aaron-suarez commented on #13
Fixed by #47

[2018-10-29 18:48] #13 closed

[2018-10-30 20:40] Derek52 opened #58 "Adding Linux setup instructions to Readme.md"
Hi, I'm a Linux user, and would like to add Linux setup instructions under the mac instructions in the Readme. Would this be a helpful addition? Or do you find this unnecessary? I will admit the number of beginner programmers using Linux is pretty small.

[2018-10-30 20:45] aaron-suarez commented on #58
I think it would be a helpful addition. With the exception of how you download Postgres, is there any difference from the Mac instructions?

[2018-10-30 20:54] Derek52 commented on #58
Starting Postgres is different. You also have to enable Postgres as a system service, to make sure it will automatically start itself after a reboot.

[2018-10-30 21:02] aaron-suarez commented on #58
Ok, so I agree that Linux users are not going to be super beginners that need to be hand-held through each setup step. If you want to write a Linux section, I would think it would be enough to just highlight the differences and point out the important bits like the environment variables.

Feel free to open a PR and I'll review it.

[2018-10-30 21:17] Derek52 commented on #58
Ok, sounds like a plan. I'll just have them refer to the steps in the mac section, once the DB is created. I'll submit my PR sometime this evening/tonight.

[2018-11-04 17:20] #58 closed

[2018-11-18 16:04] aaron-suarez opened #66 "Ensure we can query by date added"
When we do the front end, we'll likely have a section for "recently added resources". We'll need a way to query for the resources to put in that section. I'm not sure if we have timestamp columns for `date_added` and `date_modified` (or similar) but we need those if we don't have them.

[2018-11-24 01:32] #5 closed

[2018-11-24 01:33] wimo7083 commented on #25
With this merge: https://github.com/OperationCode/resources_api/pull/64/files

We now have better error handling response. Just need rate limiting to close this.

[2018-11-24 04:30] aaron-suarez commented on #31
Fixed in #60

[2018-11-24 04:30] #31 closed

[2018-11-24 05:32] #55 closed

[2018-11-25 16:52] aaron-suarez opened #69 "Better error handling of out of bounds GET resources"
As of the latest commit, if you try to GET a resource with an id that's higher than the highest in the database, you get an error that looks like this:

[code]

I put this error in here as a "catch all" for errors that we aren't specifically catching. We need to specifically catch the out-of-bounds scenario I described.

Acceptance criteria:
When doing `GET /api/v1/resources/10000000`, a 404 error

[2018-12-05 22:29] CryptoJones commented on #23
I'll take this.

[2018-12-24 03:25] aaron-suarez opened #75 "Need route for upvoting/downvoting a resource"
There is an "upvotes" and "downvotes" section in the database but there is currently no way to update these values.

There needs to be a route to upvote or downvote a resource. Eventually we're going to put this behind a login screen and we're going to ensure that any given user can only upvote or downvote a resource once, but that is beyond the scope of this issue. This issue can be closed once t

[2018-12-24 03:29] aaron-suarez opened #76 "Need route for times a resource is clicked"
When the front end is created, we're going to track the popularity of a resource by tracking how many times people click the link to open that resource. Eventually, we're also going to track who specifically clicks on the resource so that we don't increment `times_clicked` if they have already clicked the resource in the past, but that is beyond the scope of this issue.

The route should be `PUT a

[2018-12-24 21:31] aaron-suarez opened #78 "Need negative unit tests"
#70 added a bunch of tests for the routes, but it only tests the happy path (what's supposed to happen). We need "negative" unit tests that test that the app fails gracefully and as expected based on bogus input. In those situations where HTML is returned instead of JSON, or the api returns a 500 instead of a 400 series error, the route should be modified such that it will return the expected/requ

[2018-12-24 23:17] aaron-suarez opened #79 "Test coverage"
We are at about 66% test coverage as of today. It would be nice to be able to be somewhere >90% code coverage, or even 100% if possible (though it may not be). One of the specific points that is currently missing a test is surrounding filtering `GET /resources` by `updated_after` query param.

[2018-12-28 01:25] aaron-junot opened #82 "Fix Code Climate issues"
We recently added in a Code Climate integration, and it complains about some issues. It's not a huge deal, but it would be nice to address these issues before they get more out of hand.

https://codeclimate.com/github/OperationCode/resources_api/issues

Ideally, I would like to see the `migrations` folder ignored by code climate. I only want our actual source code and tests to be inspected by this

[2018-12-28 01:33] wimo7083 opened #83 "Check for expired URL"
It would be really cool to have a way to check all resource urls programatically for a bad link.

Some sites will not allow you to do HEAD or GET requests, and in those cases we can blacklist (or whitelist the opposite).

In the future we can modify the table for the database on resources to include a whitelist or blacklist flag.

Also in the future we can determine when this is run, but for now w

[2018-12-28 16:59] wimo7083 commented on #83
an example of a MVP for this:

[code]
Another way would be to get all the results, and then store the ones that are good status codes, and then once at the end check if they are all good. It's not best practice to parametrize in a for loop, but I'm not sure how to do it when we have a fixture on the database. Maybe use the raw yaml data?

[2018-12-29 18:52] wimo7083 commented on #25
Let's call this closed when the rate limiting only.

[2018-12-29 18:54] wimo7083 opened #85 "Give pagination details for the api"
The current api is performing pagination, but the response doesn't show anything about the pagination so unless you remember it you're left scratching your head about why you only have 50 responses.

ex:

<details>
 <summary>/api/v1/resources</summary>

[code]
</details>

[2018-12-30 17:05] aaron-suarez commented on #85
What should the details show? Should the json include something like
[code]
?

[2018-12-30 17:12] wimo7083 commented on #85
Yeah, maybe even the number of returned items.

[2018-12-30 17:39] aaron-suarez commented on #85
so then
[code]

[2019-01-02 15:20] KPGunner commented on #82
After looking at Code Climates documentation I created a .yml to tell Code Climate to ignore folders and files we specify. I added the migrations folder.

[2019-01-06 05:39] wimo7083 opened #87 "Add requirements.txt"
We recently moved from pipenv, as we have a working docker image. We moved all the requirements into the docker image but we need to have a resources.txt with pinned versions.

Acceptance criteria:
1. Create requirements.txt that includes a working version.
2. Modify Dockerfile to remove the manual pip install steps
3. Copy over the `requirements.txt` in a step after the upgrade and update step
4.

[2019-01-08 03:57] aaron-suarez commented on #52
Per slack discussions with @wimo7083, we want to go ahead and require an API key for all routes. Basically, each user should be able to generate and rotate a persistent API key that they can use to access the API. If the key is present, then the API should allow the request to go through. Otherwise, it should return a `401` response, with a JSON body telling the user that they must have an API key

[2019-01-10 02:48] aaron-suarez commented on #76
Upon further thinking, I'm pretty sure I'd rather the route be `PUT api/v1/resources/<id>/click`, because click is the action.

[2019-01-10 03:42] aaron-suarez opened #90 "Readme doesn't give instructions on forking and cloning"
When we changed the instructions from using `pip` directly to using docker, we didn't include the instructions about forking and cloning. We need to put these back in the README.

[2019-01-10 04:31] aaron-suarez opened #91 "/static/{filename} route should be removed"
By default, flask has a route called `static` that lets you get a static file. This is a JSON API, there is no sense in allowing users to `GET` static files. Therefore, the default `/static` route should be removed.

[2019-01-10 06:03] itsaudia commented on #90
Can I claim this issue?

[2019-01-10 06:17] aaron-suarez commented on #90
Sure! I will assign to myself as a placeholder for you. Hit me up on slack if you need any help with git.

[2019-01-10 07:38] itsaudia commented on #90
I tried

[2019-01-11 01:54] aaron-suarez commented on #90
Fixed by #93

[2019-01-11 01:54] #90 closed

[2019-01-18 05:00] #25 closed

[2019-01-19 22:06] aaron-suarez commented on #91
Assigned myself as a placeholder for @KPGunner

[2019-01-19 22:11] aaron-suarez commented on #52
Since all of the data is available currently by looking at the `resources.yml` file, it doesn't make much sense to me to require the API key for the `GET` methods. Therefore, it's only required for `PUT` and `POST` methods.

[2019-01-19 22:21] aaron-suarez commented on #52
Currently, there is no way to actually roll back data, but there is a log of who made a harmful request and the request they made. There is also a log of what the old data was, so if we do want to restore old data, we can get it from the logs and then update the resource with the old data.

It would be nice to automate this somehow, but I think it's fine for MVP. Let's get this thing live and worr

[2019-01-26 04:07] aaron-suarez opened #97 "`standardize_response` is awkward"
I like the idea of having a function to standardize all of the responses so we can respond in certain ways without having to think too hard about how to structure the response while maintaining a consistent API experience.

However, the interface for the current implementation is pretty awful. At the very least, it should use keyword arguments so that it's obvious which parameter is which when you

[2019-01-26 04:10] aaron-suarez opened #98 "README is missing `make` commands"
There are a bunch of useful `make` commands that are available via the Makefile, but not all of them are called out. There should definitely be a call out for `make test` which will run all of the tests. Any of the other extremely common make commands should also be called out. There should also be a statement that more commands than just the common ones exist in the makefile, and contributors sho

[2019-01-26 04:30] wimo7083 commented on #98
I think that instead of trying to have documentation track each command we should have our documentation point to the source (Makefile), and then make what's happening in them clear enough so we don't fall out of date.

[2019-01-26 20:21] aaron-suarez commented on #98
Agreed. I just wanted to make sure that we specifically put `make test` in there because we want our contributors to be able to run the tests before they commit/push/PR

[2019-01-26 20:33] aaron-suarez opened #99 "Linter allows ending file without a newline"
All of our files should end with a newline character. The linter currently will pass when there is no newline at the end of the file. We need to tweak these settings a bit to include that check.

[2019-02-18 19:57] aaron-suarez commented on #75
Closed by #96

[2019-02-18 19:57] #75 closed

[2019-02-18 20:08] aaron-suarez commented on #91
Closed by #102

[2019-02-18 20:08] #91 closed

[2019-02-18 20:37] aaron-suarez commented on #69
Update: As of the latest commit, it now returns something like this:
[code]

But it should still be a `404` not found instead

[2019-02-22 06:22] mildocjr commented on #97
It seems to be a typical format, however, something I do is pass a dictionary in the format `{'data': data, 'errors': [errors]}` to a `payload` argument and let the browser handle the OK status.  Then you could pull out each of these in the `standardize_response` function, and determine an appropriate error code which could be overridden if needed as a named argument.

General format would be:
[co

[2019-02-23 05:34] aaron-suarez commented on #97
You know, I forgot that keyword arguments are a thing in python, I may think about doing it that way... Thanks for the suggestion, I'm sure it will ultimately influence the final implementation.

If you wanted to open up a PR to fix it, that's fine too! Contributors wanted 😄

[2019-02-23 19:36] #52 closed

[2019-02-23 19:43] wimo7083 commented on #99
[code]
https://stackoverflow.com/questions/3261925/how-to-fix-no-newline-at-end-of-file-warning-for-lots-of-files

https://help.github.com/en/articles/dealing-with-line-endings

Once we get it into a good state and config we can probably have the linter require proper endings.

[2019-02-23 19:47] wimo7083 opened #103 "Make tokens more reliable"
https://blog.miguelgrinberg.com/post/restful-authentication-with-flask

After discussing with people in \#help

uuid is not a good usage of [tokens:](https://tools.ietf.org/html/rfc4122#section-6)

This is how the father of flask Miguel Grinberg recommends:
[code]

[2019-02-23 19:52] wimo7083 commented on #98
Acceptance Criteria:

1. Readme should include steps to run resources api locally
2. Readme should include steps to develop resources api
3. Readme should more detailed steps for authentication to include how to get username and password for operation code.

[2019-02-23 19:55] wimo7083 commented on #103
Per jz should probably use the `secrets` module.

[2019-02-25 00:07] aaron-suarez opened #104 "Add a mixin for last_updated and created_at"
Per Will's comment here https://github.com/OperationCode/resources_api/pull/95#discussion_r249864559

We should follow that pattern with the Audit mix in and pull it out into its own class. @wimo7083, if you would please follow up with some Acceptance criteria, that would be great.

See https://gist.github.com/ngse/c20058116b8044c65d3fbceda3fdf423 for example

[2019-02-26 04:03] aaron-suarez commented on #23
This particular command has proven helpful:
[code]
This will print out the number of resources in each category next to the category name.

[2019-03-11 18:29] #87 closed

[2019-03-11 19:09] aaron-suarez opened #109 "Upgrade PyYAML"
PyYAML has a new version, we should update it to 4.2b1 or later in requirements.txt

[code]

[2019-03-11 19:10] lord-cant-even commented on #103
Are you wanting to add a whole new model to be able to do revocation/checking/etc? Or is the desire just to use something other than uuid?

[2019-03-12 00:25] aaron-suarez opened #112 "Method Not Allowed still returning HTML"
We need to ensure that we only return JSON responses. In the case of `405 Method Not Allowed`, we're still returning HTML. We need to add a handler in `app/errors/handlers.py` for handling `405` errors, and it should return a standardized response with JSON describing that the method is not allowed.

To avoid merge conflicts and double work, please wait until #110 is merged to start on this issue.

[2019-03-12 00:36] aaron-suarez opened #113 "Failure reason not clear on create resource"
When you attempt to create a resource via `POST /api/v1/resources`, if you are missing required fields, you get a `400 Bad Request`, but it doesn't tell you why the request was bad. The API should tell you what fields you're missing. Also, if the only problem is that you're missing a required field, it should probably return a 422 instead of a 400.

[2019-03-13 16:46] aaron-suarez commented on #97
Closed in #110

[2019-03-13 16:46] #97 closed

[2019-03-14 02:01] aaron-suarez opened #114 "Remove health_check.py"
`health_check.py` was set up as a way to check that the database was working before we actually got the API up and running, and well before we used docker. Now that the process is a bit more refined, we no longer need it and it can be removed.

[2019-03-18 01:27] aaron-suarez commented on #114
I'm going to just close this out with #111

[2019-03-18 01:27] #114 closed

[2019-03-25 15:40] aaron-suarez opened #116 "Testing should be decoupled from specific response strings"
Per this comment https://github.com/OperationCode/resources_api/pull/111#discussion_r266947365

Some tests basically test the exact string returned from the server rather than the fact that the exception handler is called. This can be problematic if we ever need to change those strings and the exception is still called fine (meaning the test should pass). An example of this is here:
https://github

[2019-03-25 15:57] aaron-suarez commented on #79
![Screen Shot 2019-03-25 at 10 53 59 AM](https://user-images.githubusercontent.com/2008701/54934344-59f53000-4eec-11e9-98e5-20601d10c244.png)

The above screenshot is current coverage after #111 was merged. It would be nice to get some more coverage around the CLI before we close this (if done comprehensively, I believe that will push us over 90% because there are 35 untested statements in that fi

[2019-03-28 00:59] phongvdoan commented on #109
I will do this to help me learn git

[2019-04-01 17:20] aaron-suarez commented on #109
Closed in #118

[2019-04-01 17:20] #109 closed

[2019-04-02 00:56] phongvdoan commented on #112
when adding handler in handlers.py, does the standardize_response function need to be updated with the 405 error in utils.py?

[2019-04-02 01:02] aaron-suarez commented on #112
Yes, but also, a handler has to be added to `app/errors/handlers.py` to catch the 405 error and then call `standardize_response` with a 405 status code

[2019-04-02 15:31] aaron-suarez commented on #112
closed in #119

[2019-04-02 15:31] #112 closed

[2019-04-02 15:34] aaron-suarez commented on #113
Also, this is an authenticated route, so it should return a 401 if you're missing the X-Apikey header or if your API key is incorrect

[2019-04-03 00:55] Qlwentt commented on #85
I'd like to take this as my first issue. I just joined operation code. I can work on this and probably a few other tickets this weekend.

[2019-04-03 01:28] aaron-suarez commented on #85
Ok sounds good! I'll assign it to myself so no one takes it. Hit me up on slack if you have any problems!

[2019-04-04 02:41] aaron-suarez opened #121 "400 response for malformed JSON returns HTML"
If you send a malformed JSON request, such as the following, which is missing a comma:

[code]
The API responds with an HTML response such as:
[code]

We should be catching errors like this and returning a `standardize_response` for them.

[2019-04-04 02:55] aaron-suarez commented on #121
The above example was for the `POST api/v1/resources` endpoint. Similarly, if you make a request to `PUT api/v1/resources/1` with no json body, you get the following response:
[code]

[2019-04-05 02:28] #121 closed

[2019-04-06 23:09] aaron-suarez commented on #76
Closed via #125

[2019-04-06 23:09] #76 closed

[2019-04-07 00:40] aaron-suarez commented on #22
@wimo7083 Do you think these 3 data cleaning issues will be easier or harder to address once we go live and stop relying on the resources.yml file? If it will be easier (or the same), I'm all about going live as soon as we get the currently outstanding PRs merged. If it will be harder, we may have to prioritize these issues and figure out what we can't live without so to speak before we go live.

[2019-04-07 00:52] Qlwentt opened #126 "Remove MultipleResultsFound condition from routes"
**Note: I will complete this task**

In many routes we are throwing an exception if multiple results are found for a particular id.

This doesn't seem possible because ids should be a unique identifier. @aaron-suarez has not been able to reproduce this in tests. Therefore we're just going to remove this condition from the routes.

See https://github.com/OperationCode/resources_api/pull/125#discuss

[2019-04-07 16:14] aaron-suarez commented on #103
API keys and tokens are different. API keys don't really expire unless the user wants to revoke it for some reason (speaking of which, key revocation and rotation should make it into this API at some point).

There are really just two reasons that the API keys exist.

1) To show our intent that resources should only be added or updated by OC members (but realistically, the YAML file has been publi

[2019-04-07 18:35] aaron-suarez commented on #126
Closed via #127

[2019-04-07 18:35] #126 closed

[2019-04-08 03:12] aaron-suarez commented on #85
Fixed in #124

[2019-04-08 03:12] #85 closed

[2019-04-08 03:24] aaron-suarez commented on #99
Flake8 (our linter) should be catching this with https://lintlyci.github.io/Flake8Rules/rules/W292.html

This might take some actual troubleshooting to figure out why it's not catching this already...

[2019-04-08 03:25] #104 closed

[2019-04-08 03:32] aaron-suarez commented on #69
Fixed in #129

[2019-04-08 03:32] #69 closed

[2019-04-10 01:33] aaron-suarez opened #130 "Issues with paid resources"
1) Users should be able to filter resources by whether the `paid` attribute is true or false. This will be useful when searching specifically for free resources. This might be suitable to implement on the client side, but I feel like having less data will be preferable for mobile clients.

2) Each resource should have an attribute called "paid" which should be true or false. I do not believe that

[2019-04-14 14:38] aaron-suarez opened #132 "Remove unused dependencies"
We have a lot of dependencies in `requirements.txt` and I don't believe we're using all of them. Everything that isn't actually used in the app or for tests should be removed completely from this file.

[2019-04-19 03:19] #130 closed

[2019-04-19 03:21] #113 closed

[2019-04-19 03:22] wimo7083 opened #134 "Incorporate flask admin"
Admin dashboard with authentication.

View and manually edit things at a higher level than the API allows.

[2019-04-19 03:23] wimo7083 commented on #82
What else is needed for this?

[2019-04-19 03:23] aaron-suarez commented on #134
Like editing categories and languages?

[2019-04-19 03:25] aaron-suarez commented on #82
There are now 17 issues. Follow the link to find out more.
![Screen Shot 2019-04-18 at 10 24 50 PM](https://user-images.githubusercontent.com/2008701/56403830-da2b5e80-6228-11e9-8d36-ed1a48651e03.png)

https://codeclimate.com/github/OperationCode/resources_api/issues

[2019-04-19 08:29] KPGunner commented on #82
It doesn't look like any of those would break anything, just mostly complexity issues. Did we want to add the pages to the .yml to ignore them?

[2019-04-19 15:46] aaron-suarez commented on #82
I think we can certainly raise the limit for LOC, I think 250 is a bit of a stretch. Alternatively, it might make sense to break up `routes.py` and `test_routes.py` into smaller files, but I don't think they're too big right now, personally.

As for the code complexity issues, if those functions can be refactored, that would be nice, but again, I'm not too worried about it. I'm not even sure how t

[2019-04-20 20:31] aaron-suarez opened #135 "Switch to CircleCI"
We currently have Travis for our CI integration, but the Operation Code CI/CD pipeline uses CicleCI. We need to make the switch for everything to be easier on deployment.

[2019-04-20 20:33] aaron-suarez opened #136 "Add instrumentation"
For monitoring, we need to add [Prometheus](https://prometheus.io/).  We need to add `/healthz` and `/metrics` endpoints.

[2019-04-20 23:12] wimo7083 opened #139 "Push docker image to dockerhub on merge to master"
When we merge to master and CI passes we need push to dockerhub and tag appropriately so our infrastructure can update the running pod.

We also want to tag both staging and production on merge to master for the most recent build.

Later we can investigate promotion strategies.

[2019-04-22 02:46] aaron-suarez commented on #139
This will probably follow the same pattern as https://github.com/OperationCode/operationcode-pybot/pull/68

[2019-04-22 04:05] #132 closed

[2019-04-27 22:13] aaron-suarez opened #143 "Create a /search endpoint"
The front end will need a way to search for anything in the data using one endpoint. This endpoint should use Algolia (https://github.com/algolia/algoliasearch-client-python) to be able to perform fuzzy searching on our data and return relevant results.

[2019-04-27 22:14] aaron-suarez opened #144 "Integrate with Algolia"
Once we make an Open Source plan with their service, we can integrate with Algolia for the search endpoint.

[2019-04-27 22:22] wimo7083 commented on #144
What's the use case and reasoning for this? I know you talked about this, but can we get that transferred into this.

[2019-04-27 22:29] aaron-suarez commented on #144
Algolia provides a way to create indexes on our data. When a client sends a given string, Algolia will allow us to search all of the indexed data for matches, then it will return results that are most relevant to the search. Relevancy will be improved over time based on Algolia's algorithms. The `/search` endpoint will need to rely on these indexes to return relevant results.

[2019-04-28 03:04] #139 closed

[2019-04-28 18:41] aaron-suarez commented on #79
We're at 98% as of #142 so I'm going to go ahead and close this. Thanks!

[2019-04-28 18:41] #79 closed

[2019-05-07 01:58] aaron-suarez commented on #144
This is fixed by https://github.com/OperationCode/resources_api/pull/150

[2019-05-07 01:58] aaron-suarez commented on #143
This is fixed by #150

[2019-05-07 02:01] aaron-suarez opened #153 "Security checks in CI/CD pipeline"
We should incorporate Bandit and similar tools into our dev dependencies and CI checks to verify that there are no easily scannable security issues with the project.

[2019-05-20 20:00] Digbigpig opened #159 "Update/Create resource 500's on non unique attribute"
The update and create resource endpoint returns a 500 error if there is a non unique constraint in the url field. This should be caught (possibly 'sqlalchemy.exc.IntegrityError') and return a 422 error.

[2019-05-24 03:39] #153 closed

[2019-05-24 04:17] #136 closed

[2019-05-27 19:57] aaron-suarez commented on #99
I tried just now removing the newline from the end of a few random files within `app` and `app/api` and the linter caught it all with W292. I'm not sure what the problem was before, but it appears this is no longer an issue.

[2019-05-27 19:59] #99 closed

[2019-06-09 22:27] aaron-suarez commented on #144
Closed by #172

[2019-06-09 22:27] #144 closed

[2019-06-09 22:28] aaron-suarez commented on #143
Closed by #172

[2019-06-09 22:28] #143 closed

[2019-06-09 22:30] aaron-suarez opened #173 "Do not query database for Algolia results"
Regarding https://github.com/OperationCode/resources_api/pull/172#discussion_r291847339 we should not be doing a query on the database, we should trust that the Algolia results are correct and return them to the browser. Any changes in formatting can be made in python rather than by querying the DB. If we find that the algolia results are outdated, we should use the reindex click command to fix th

[2019-06-11 03:47] #173 closed

[2019-06-15 16:48] aaron-suarez commented on #135
This was fixed by #182

[2019-06-15 16:48] #135 closed

[2019-06-15 20:47] aaron-suarez opened #183 "Need tests around search endpoint"
Assigning @Digbigpig because he was the person who opened the original PR for the search endpoint. If I get to this before him, that's fine.

There is no automated test in the /test directory around the search endpoint. We'll need to mock the algolia service and test the route.

[2019-06-15 20:53] aaron-suarez commented on #24
I think that Algolia takes care of the idea of fuzzy string matching. If it's not a featured category on the front end then it should be found via the /search endpoint. If we run into some more serious problems, we can reassess this.

[2019-06-15 20:53] #24 closed

[2019-06-15 20:56] aaron-suarez commented on #22
I think that when we get the frontend set up, we can go ahead and crowdsource this by asking people to update resources they like that say "multiple" for the language with the languages they actually have. Unpopular resources that no one uses may stay unfound for a long time, but I suspect that the more popular ones will be updated quickly enough. I'll leave this issue open for now, but we're past

[2019-06-15 21:22] aaron-suarez opened #184 "Documentation"
There is almost no documentation on how to use the API. Might be useful to flesh out the Wiki for this repo with actual docs, or perhaps even document it using [OpenAPI](https://swagger.io/docs/specification/about/).

[2019-06-16 00:08] aaron-suarez commented on #23
I very much hope that Algolia has solved this problem a little bit for us since the frontend will be based more on the search endpoint rather than displaying a bunch of categories. People can categorize it however they want, and if someone wants to browse a category that contains only a single resource, that's ok by me. We'll make adjustments as we learn how this ends up being used.

For now, I'll

[2019-06-16 00:08] #23 closed

[2019-06-17 19:12] aaron-suarez opened #187 "Click command to download data from the database"
In order to provide a granular backup of the data in the db, we need a way to save in a text file (or series of files) all of the data that's in the database. This way, should anything happen to any records in the prod database, we have a way of restoring that data down to the affected record(s).

The click command should connect to the database and download all of the data into text files in the

[2019-06-23 23:06] soris-codes commented on #184
I would love to jump in and help with this @aaron-suarez. Any guidance for formatting, what we'd need to include, etc?

[2019-06-23 23:26] aaron-suarez commented on #184
We definitely need to include instructions on how to authenticate with the API (how to get your API token, how to use it, which routes need it).

It should describe each route, what acceptable query parameters are and what acceptable body params are.

I'm not too worried about the formatting at this point, something is better than nothing after all. We can always iterate on it and make it better a

[2019-06-24 08:33] soris-codes commented on #184
Going to read about OpenAPI and Redoc today.

[2019-07-21 15:20] aaron-suarez opened #194 "Add filtering to search endpoint"
We might want to be able to search for "python" but also filter based on "paid=false". Right now, I believe our filters work for the `/resources` endpoint but not the search endpoint.

**Examples:**

This currently works to filter for the `/resources` endpoint:
[code]

Doing that will filter down to just python books that are free. When using the search endpoint, we'll definitely want to be able t

[2019-07-23 03:51] aaron-suarez opened #196 "All errors should be a list of dicts containing `code` and `message` properties"
The API has a standard way of returning errors. It should conform to a certain schema. A correct example of this schema is returned when the `updated_after` filter is used improperly:
[code]

One example of it being wrong is here:
https://github.com/OperationCode/resources_api/blob/48130749370071255bfd9a4a98de2315505412ac/app/api/routes.py#L112

Notice how this line of code causes a list of string

[2019-07-23 16:13] soris-codes opened #197 "Need GET /languages/{id} Route"
Currently getting a 404 for the `/languages/{id} endpoint.

[2019-07-23 16:14] soris-codes opened #198 "Need GET /categories/{id} Route"
Currently getting a 404 for the `/categories/{id} endpoint.

[2019-07-26 00:19] guglielmo-andrew commented on #196
Hi @aaron-suarez! I am interested in helping tackle this issue. This is my first issue ever, but I've read the Contribution Guide and I think I could help here. I am a little unsure of the scope of the issue. I see the one line that returns a list with a single string. I think it is supposed to be `dict(errors="Invalid username or password")`. Are there likely more lines like this throughout the e

[2019-07-26 01:08] aaron-suarez commented on #196
Yes indeed. Sending you a slack message so we can hash out the specific requirements

[2019-07-26 05:15] aaron-suarez opened #199 "`/apikey` endpoint returns a 400 when it should return a 422"
When you send a request to the Create Resource endpoint that doesn't include a JSON body, you get a 422 response with a helpful error message informing you that a json body is required to use this endpoint. See https://github.com/OperationCode/resources_api/blob/aa3e33d4ca07c4ff929922c990297f0ad3b160a0/app/utils.py#L157-L160

When you make a request to the `/apikey` endpoint without a JSON body, y

[2019-07-27 18:47] #183 closed

[2019-07-27 20:00] aaron-suarez opened #201 "CONTRIBUTING.md file doesn't include docker"
The CONTRIBUTING.md file has a list of technologies the project uses, but it's outdated. You actually don't need Postgres installed because we use docker now, but you definitely need docker installed, etc. That whole part of the file could use some updating with the latest information about the repo, and possibly more "getting started" stuff surrounding docker.

[2019-07-27 20:18] aaron-suarez commented on #197
Closed in #200

[2019-07-27 20:18] #197 closed

[2019-07-27 20:29] aaron-suarez opened #203 "Add `make docs` command"
Now that we have an OpenAPI file set up with Redoc, it would be nice to be able to view those docs when you're working with the code. We should add a `make docs` command that you can run and it will pull up the redoc. It should be based on the OpenAPI file
here https://github.com/OperationCode/resources_api/blob/master/openapi.yaml

When you make changes to the file, you should be able to just ref

[2019-07-27 20:31] soris-codes commented on #203
I would like to help with this.

[2019-07-28 00:44] aaron-suarez commented on #203
Turns out `make docs` is unnecessary, thanks for #204, which will close this out

[2019-07-28 01:03] #203 closed

[2019-07-28 01:05] aaron-suarez commented on #184
Docs are live at https://resources.operationcode.org/ 🎉

[2019-07-28 01:05] #184 closed

[2019-07-28 01:12] aaron-suarez opened #205 "Documentation - `Update Resource` endpoint returns a 401 and a 422 response as well"
The `Update Resource` endpoint documentation claims that it only returns a 200 or a 404:
![Screen Shot 2019-07-27 at 8 10 49 PM](https://user-images.githubusercontent.com/2008701/62000968-a626cb80-b0aa-11e9-960f-2420ccc5e980.png)
This endpoint will also return a 422 if the resource is invalid, and a 401 if you do not pass a valid API Key.

The OpenAPI file must be updated to add these responses. Y

[2019-07-28 02:59] aaron-suarez opened #206 "Batch create of resources"
We should allow batch creation of resources by accepting an array in the JSON for the Create Resource endpoint. I have over 100 resources that I need to add and I don't really fancy adding them one by one. The endpoint should return the list of created resources. I haven't really thought through validation all the way (does it need to create each one by one and then tell you which resources are in

[2019-07-28 21:59] seoulstice commented on #198
I'd like to tackle this issue if no one has claimed it yet.

[2019-07-29 05:15] aaron-suarez opened #207 "Test coverage for views"
We recently added documentation to the `/` route. We have no tests around those views. It would be nice to verify in the unit tests that they return valid responses so we can be sure that every deploy will have the docs correctly loaded.

![Screen Shot 2019-07-29 at 12 16 05 AM](https://user-images.githubusercontent.com/2008701/62023349-14948800-b196-11e9-9d70-2afd34b54612.png)

[2019-07-31 00:09] seoulstice commented on #198
@aaron-suarez @soris-codes

[2019-07-31 05:05] aaron-suarez commented on #198
Yeah go ahead and get it. I'll be happy to review the PR when you get it in

[2019-07-31 05:57] seoulstice commented on #198
Thanks!

[2019-08-03 21:09] soris-codes commented on #205
@aaron-suarez - Will fix this ASAP.

[2019-08-04 02:20] aaron-suarez commented on #198
Closed with #208

[2019-08-04 02:20] #198 closed

[2019-08-04 02:27] #205 closed

[2019-08-04 05:13] #159 closed

[2019-08-04 05:14] aaron-suarez commented on #199
Closed in #185

[2019-08-04 05:14] #199 closed

[2019-08-04 05:15] aaron-suarez commented on #196
We determined a schema that we hope will be better than what was described in the original issue comment. Everything was standardized to the new schema in #185

[2019-08-04 05:15] #196 closed

[2019-08-04 05:24] aaron-suarez opened #211 "Voting for resources should be limited to one per user"
Currently, you can upvote or downvote a resource over and over again. It should be limited to one vote per user. If the user has upvoted a resource and then downvotes the same resource, the upvote should clear out and be replaced by the downvote (and vice versa).

For the moment, users can be tracked by their API credentials, so all of this should be determined by the API key provided.

Acceptance

[2019-09-14 16:01] mc962 commented on #194
Would this mainly be passing new parameters to what looks like the Algolia service?
And if so, is there any special setup to be able to hit this service locally? (I keep getting an exception for the service being unreachable from my laptop, with the API run in a container, and looking at the .env file, I'm not sure those are real keys)

[2019-09-27 10:16] gagandeepp commented on #98
@wimo7083  Assign this to me if it is still open?

[2019-10-01 01:49] the-bose commented on #207
Does the issue require a pull request to confirm the test result?

[2019-10-01 01:52] the-bose commented on #211
Hello, I would like to contribute to this

[2019-10-01 01:54] the-bose commented on #201
Hello, I would like to contribute to this.

[2019-10-02 18:40] RanadeepPolavarapu commented on #116
Hello, I could tackle this.

[2019-10-03 20:49] teaglebuilt commented on #207
can i grab this issue?

[2019-10-03 20:54] teaglebuilt commented on #207
Is there a need for a pytest fixture for the yaml file download? or just testing for successful status codes?

[2019-10-03 20:57] aaron-suarez commented on #207
There is not a fixture. We definitely need to test for a successful status code, but it would also be nice to have a test that the content looks correct in some way. I'm honestly not sure what that might look like, so feel free to do whatever you think is best and we can talk about it.

[2019-10-03 22:12] aaron-suarez commented on #201
@the-bose It looks like @RanadeepPolavarapu kinda just swooped in there. Are you interested in any of our other open issues? I'll go ahead and get you assigned to one if you like

[2019-10-03 23:01] the-bose commented on #201
I'll check the other issues out and see if I can help.

[2019-10-04 04:15] Kshitij09 commented on #83
Hello, I'd like to work on this. Just for clarification, I should first work on checking for bad links right ? Or should I implement the blacklist database as well ?

[2019-10-04 04:17] Kshitij09 commented on #187
Is this issue still open ?

[2019-10-04 14:16] aaron-suarez commented on #187
I was going to work on it but it's been 3 months and I haven't allocated the time to work on this that I originally intended. If you can do it, go for it. If not, no big deal

[2019-10-04 15:15] Kandeel4411 opened #222 "Change 'paid' filtering in resources endpoint"
Currently if an invalid paid attribute is given to the `/resource` endpoint it will default to it being `false`, we would like it to default to `all` instead

**Examples**:
This currently defaults to `paid=false` to filter for the /resources endpoint:
[code]
Returns all resource objects with `paid: false`

**Acceptance Criteria**:
[code]
Should return all resources instead ( due to it not being st

[2019-10-04 18:06] Kshitij09 commented on #187
Okay. Thanks!

[2019-10-05 06:03] Parikshit-Hooda commented on #201
@aaron-suarez  haha. I have an issue that I was thinking of opening but I would love for you to take it.
Issue 1 - Include MIT License in the README.md . What I mean by include is to include a link to the license in the current repo. Something like this : https://github.com/ladybug-tools/honeybee/pull/289

Issue 2 - Update LICENSE file in the repo to include coverage to 2019 too. Right not it says

[2019-10-05 14:49] #201 closed

[2019-10-05 14:53] aaron-suarez commented on #194
@mc962 If you'd like to contribute, feel free to add in language and category filters, those are still needed to be able to close this out 😄 I think the hardest part was done by Kandeel because now you can follow the same pattern for the other two and we're good

[2019-10-05 14:59] aaron-suarez commented on #83
@Kshitij09 I'm a big fan of starting small and iterating on that. Why don't we start with checking for the bad links and then once we get that merged, we can open a separate issue for the blacklist? You can feel free to pick up the blacklist issue as well, but I would rather not let a single PR get too big.

I disagree with putting this in the unit tests though, mainly because of CI concerns. Besi

[2019-10-05 15:08] mc962 commented on #194
I can do that.

I think part of my issue (and why I didn't do anything for it at the time), was that I couldn't really connect to Algolia to confirm that things were working. Are there some sort dev credentials that we have for this?

[2019-10-05 15:19] aaron-suarez opened #225 "API Key Rotation and Revocation"
Currently, there is no way for users nor administrators to revoke an API key or rotate the API in the event of compromise. For more information about the use cases, see https://github.com/OperationCode/resources_api/issues/103#issuecomment-480605369.

I'm open to discussion on the best way to handle this. Typically (in my experience) an API is associated with a website that will require you to log

[2019-10-05 15:27] aaron-suarez commented on #194
We do not. People have just been signing up for a free trial and going from there. I can see about contacting them about dev credentials if you don't think you'll get it done within the 14 days of the trial

[2019-10-05 15:55] Pachwenko commented on #222
I am looking into this

[2019-10-06 20:02] aaron-suarez opened #229 "API versioning"
**Background**
There have been no breaking changes since the first version was released, so this hasn't come up until now. I believe the best solution to #206 will require a breaking change to the API. That being said, when we make breaking changes to the API we'd like to allow for clients to use the older versions of the API so they have time to upgrade their integration to the new version. So we

[2019-10-07 18:10] Kshitij09 commented on #83
I think the same way. It's good idea to start with checking for bad links and then extend the same. I'm looking forward to get this done as soon as possible :)

[2019-10-08 14:56] #222 closed

[2019-10-18 20:04] Kshitij09 opened #235 "Error while setting up environment on Windows 10"
Running `make setup` on Windows 10 as per the [Getting Started](https://github.com/OperationCode/resources_api#getting-started) instructions lead to following error -
[code]

[2019-10-20 14:18] aaron-suarez commented on #235
Hmm, this is odd. Just to clarify, you followed all of the steps in the `Getting Started` instructions before encountering this?

[2019-10-20 14:30] aaron-suarez commented on #235
@Kshitij09 Can you please provide the versions of Docker and Make that you were running when you encountered this?

[2019-10-20 19:10] #194 closed

[2019-10-21 04:40] Kshitij09 commented on #235
Yes I followed every instruction and still got this error.

My system configuration is

Windows 10 Home (64-bit)
Docker: 19.03.1, build 74b1e89e8a
Make: 3.81

[2019-10-21 22:15] Jitsusama commented on #229
I'm will to take a stab at this.

[2019-10-21 22:22] Jitsusama commented on #229
@aaron-suarez; to clarify things, the APIs you want to version are all defined in _/app/api/route.py_ correct?

[2019-10-21 22:37] aaron-suarez commented on #229
Yeah, but more generally, any response from our API is going to have a version along with it, which currently is sort of hard coded here https://github.com/OperationCode/resources_api/blob/master/app/__init__.py#L12

We want that instead to be variable, defaulting to the latest version, but if someone requests a specific API version we should support that.

[2019-10-21 22:55] Jitsusama commented on #229
Cool, thanks for that additional information. I'm currently thinking of adding a new decorator that will take in some configuration specifying a mapping of versions to functions that will generate outputs. It would wrap the top level blueprint route and its parameter list will receive the generated output and the route's body can send it out. I'll obviously also have to think about how to handle o

[2019-10-22 02:21] aaron-suarez commented on #229
For the first part: I'm fine exploring the idea of a decorator, that could probably work. But I don't think it even needs to be that much overhead. I think that it would be more like `if` statements, where a version is mapped to some constant that you check against, so it would look like:
[code]
and then of course we'd need to return `"apiVersion": "1.1"` in the JSON response if it goes the api_ve

[2019-10-22 10:05] Jitsusama commented on #229
Yes, that does make sense. Hopefully the final question, are you wanting to have this implemented on each route, or would you like for me to just implement it on a representative route, as I’m assuming most routes do not require versioning (at least not yet?)

[2019-10-22 16:03] aaron-suarez commented on #229
I think the acceptance criteria for this will be creating a centralized place where we can define such constants as `api_version_1_1`, a way to parse the incoming X-Api-Version header and respond to it, and ensuring we return the correct API version in the json response. Like you said, all of the routes are on 1.0 right now, there is no branching logic for 1.1

[2019-10-22 23:42] thinkingserious commented on #235
Hi @Kshitij09,

I was just now able to complete the `make setup` step on my Windows 10 machine.

Perhaps you need to update your Docker to the latest version.

My system configuration is:
Windows 10, version 1903
Docker: 19.03.4
Make: 3.81

With best regards,

Elmer

[2019-10-22 23:59] thinkingserious commented on #134
@wimo7083,

Do you mean implementing [this](https://flask-admin.readthedocs.io/en/latest/)?

[2019-10-23 00:00] thinkingserious commented on #78
I can take this one, thanks!

[2019-10-23 05:14] Kshitij09 commented on #235
I'm using Latest release of Docker Toolbox and the [Toolbox Releases](https://github.com/docker/toolbox/releases) shows that it has Docker 19.03.1. Is it possible to update this Docker version? Please help me in this regard.

[2019-10-23 15:54] aaron-suarez commented on #235
Oh, interesting, looks like Docker Toolbox is a few versions behind on docker?

[2019-10-23 15:57] aaron-suarez commented on #78
Ok @thinkingserious thanks! Most of the newer routes have negative unit tests. I'm mostly concerned with the Create and Update Resources endpoints because those are the ones that actually make changes to the data. We want to make sure that with bogus input, or super long input, or potentially problematic input like strange characters and emojis, the app is resilient enough to handle it

[2019-10-23 16:04] thinkingserious commented on #235
@Kshitij09,

It looks like Docker [recommends|https://forums.docker.com/t/docker-for-windows-or-docker-toolbox/30387/2] [Docker desktop|https://www.docker.com/products/docker-desktop]. Could you please try uninstalling the Docker Toolbox and install Docker Desktop instead? I'm not sure if this will solve this particular issue, but it seems worth a try.

[2019-10-23 20:56] Kshitij09 commented on #235
I don't meet the minimum system requirements for Docker Desktop. Hence forced to use the toolbox.

[2019-10-23 21:29] thinkingserious commented on #235
@Kshitij09,

How about running Docker in a Linux based VM [like so](https://medium.com/@mbyfieldcameron/docker-on-windows-10-home-edition-c186c538dff3)?

[2019-10-24 22:42] Jitsusama commented on #229
@aaron-suarez; I've posted up a PR. The only thing I didn't include was a centralized place to define constants, though I did setup a default version number constant in a new _versioned_ module. If you are also wanting to be able to specify valid version ranges or something, I propose doing that in a separate PR.

[2019-10-25 16:57] dprothero commented on #98
I'm working on some other enhancements to the README, so I can take this.

[2019-10-25 17:05] aaron-suarez commented on #98
Thanks @dprothero!

[2019-10-25 18:01] dprothero commented on #225
I can take a crack at item 1 in your acceptance criteria.

Would you prefer a different endpoint, e.g. `/api/v1/new_apikey` or a new key in the JSON payload? e.g.

[code]

(default being `false` if it's not provided)

Also, we're just overwriting their existing key? A more robust implementation -- i.e. a full rotation workflow -- would allow for requesting a new key, while keeping the old key acti

[2019-10-25 18:11] dprothero commented on #225
Looking at the code, I see what you mean by "click commands". `app/cli.py`, correct?

[2019-10-25 18:17] aaron-suarez commented on #225
Yes we call them "click commands" because they use the Click package. See https://flask.palletsprojects.com/en/1.1.x/cli/ and https://click.palletsprojects.com/en/7.x/

[2019-10-25 19:13] aaron-suarez commented on #225
@dprothero Regarding the other question, I would love to see the more robust implementation, but I think it would require some changes to the model as well as the `/apikey` endpoint because right now everything is built on the assumption that each user only has a single API key

[2019-10-25 19:15] aaron-suarez commented on #225
I'm open to either a new endpoint such as `/new_apikey` or the `issue_new_key` flag, though I think the latter would be less of a lift. I'll leave it up to you to make the decision and open a pull request with the one you think is the better solution.

[2019-10-25 21:21] #98 closed

[2019-10-26 00:18] aaron-suarez opened #246 "routes.py and test_routes.py are HUGE"
In the past, it didn't bother me that `routes.py` and `test_routes.py` were both over 250 lines of code. However, we've gotten to the point where `routes.py` is close to 500 LOC and `test_routes.py` is almost 1000 (and after #244 is merged, it will be over 1000). It's time to go ahead and break these up into smaller files so we can more easily find what we're looking for.

I'm open to how it shoul

[2019-10-26 00:22] aaron-suarez commented on #235
@Kshitij09 Are you still having trouble getting set up?

[2019-10-26 20:22] Jitsusama commented on #246
@aaron-suarez; I'm willing to start tackling this. Would you mind if I do this on a separate PR per organizational boundary? I'm thinking of creating a routes package in place of the routes module, and then having a single module per functional area. The first PR would be groundwork preparing for this, and then the subsequent PRs would be for each functional area and all would be based on the prep

[2019-10-26 20:37] Jitsusama commented on #246
Actually, I think I will have a base branch with the setup, and just do a separate PR for each boundary, instead of having a separate setup PR which probably wouldn't be that big anyways.

[2019-10-26 20:58] Jitsusama commented on #246
Annndddd, I'm realizing that it's going to be a mess splitting them up into separate PRs. Instead, I think I'll have one PR for routes cleanup and another for route test cleanup. Otherwise, it's probably going to be more confusing to actually go through the PRs, as they will all be dependent on each other (due to modifying the same file over and over again.)

[2019-10-26 23:15] aaron-suarez commented on #246
Yeah, I'd much prefer it to be one PR for routes and another PR for the tests. That way, we can verify that moving the routes doesn't break the tests (so do that one first). Then do the tests as a follow up so we can break it down but we can still have confidence that everything is still working fine.

[2019-10-26 23:26] Jitsusama commented on #246
Yeah, that's my current plan. Just waiting for feedback before tackling the merge conflicts.

[2019-10-27 15:45] Kshitij09 commented on #235
@aaron-suarez on Windows 10 - yes. Will try on Ubuntu and let you know. Should I change the title to error while setting up on Docker toolbox?

[2019-10-29 21:32] aaron-suarez opened #249 "Header shouldn't specify nginx version"
Right now, when you query resources.operationcode.org, the server responds with the specific version of nginx we're using. This information should not be given out freely. We should specify which headers nginx returns and make sure that the version we're running is not one of them.

[2019-10-29 22:05] aaron-suarez opened #250 "CORS should allow `*.operationcode.org` so the /resources page can get resources"
Per the conversation in this issue https://github.com/OperationCode/front-end/issues/661, the lack of Access Control headers is preventing the front end from getting the resources from the API. We need to add CORS headers, but we should only open it up to the Operation Code frontend.

[2019-10-29 22:07] kylemh commented on #250
and local host (port 3000), and also probably any of our potential Now aliases!

`*.operation-code.now.sh`
`operation-code.now.sh`

[2019-10-30 01:37] aaron-suarez commented on #250
@kylemh I'm not familiar with Now, so I have to ask the question. Are all of those subdomains fully allocated to us from Now? For example, can someone who's not a part of Operation Code go get `operation-code-not-really-oc.now.sh`?

[2019-10-30 04:29] kylemh commented on #250
That is indeed possible! It's okay though, because you'll require on authentication token for POSTs and PUTs and DELETEs so that only GETs are valid for any of these potential subdomain thieves!

This isn't a limitation for Now, it's just that we're stuck using this system because we agreed to keep using Terraform / k8s for the root host.

[2019-10-31 03:29] #78 closed

[2019-11-05 03:36] mc962 opened #254 "Pin Unpinned Dependencies in requirements.txt"
## Motivation
As I was browsing through the project, PyCharm notified me that there were dependencies that it wasn't aware of (generally this happens when they aren't pinned in requirements.txt). Some of these dependencies are pretty important, like `flask` and `alembic`, and should be pinned to prevent potential issues between environments/installs.

## Changes
- Add unpinned projects to requirem

[2019-11-05 03:44] mc962 commented on #254
Unpinned Packages:
- flask
- python-dateutil
- pytest
- alembic

[2019-11-05 05:23] aaron-suarez commented on #254
Thanks for making this issue @mc962 !

[2019-11-05 05:24] aaron-suarez commented on #211
@the-bose You kind of overshot Hacktoberfest. Do you still want to contribute to this? As you can see, it's a high priority and we'd like to get going on it

[2019-11-14 18:45] #116 closed

[2019-11-18 14:31] Kandeel4411 commented on #249
We can hide this information by editing `/etc/nginx/nginx.conf` file by adding the server_tokens off line inside http configuration part like so:
[code]
then restarting Nginx web server to apply the changes
[Reference](https://www.tecmint.com/hide-nginx-server-version-in-linux/)

[2019-12-05 15:47] aaron-suarez opened #259 "OpenAPI file naming convention issues"
We use an OpenAPI file to document our API, and there are a few issues with the naming conventions. As a matter of fact, it's almost like there are no naming conventions at all. Camel case and snake case are combined together in an odd fashion, and some of the names aren't very descriptive. Now that the document is formed, it would be good to take a look at the file as a whole and fix the naming i

[2019-12-07 22:30] #206 closed

[2019-12-10 16:58] chynh commented on #250
Hey all, any progress on this issue?

I am asking because I did some work on ``resources`` page which involves making GET requests to resources API. I can confirm the change works with resources API on localhost but I thought it would be safe to check in on this issue before going forward.

[2019-12-10 20:17] kylemh commented on #250
@chynh the page already exists! You should check out master.

[2019-12-10 23:00] chynh commented on #250
@kylemh Yes. I am actually working off of master.

Basically, I am trying to make it so that there are fewer resources displayed at a time and allow users to access resources other than the first twenty which are what they get right now.

In doing so, I have modified the URL from ``https://resources.operationcode.org/api/v1/search?page=1`` to ``https://resources.operationcode.org/api/v1/search?pag

[2019-12-10 23:20] kylemh commented on #250
Hmmm so where is it not workin?

https://operation-code.now.sh/resources seems to yield data

[2019-12-10 23:54] chynh commented on #250
So I have made the Pagination component clickable so that you would make a new request to the API for a specific page and that's where it won't work.

Here is the link to the video for your reference:
https://imgur.com/4fP7rFj

[2019-12-11 00:09] aaron-suarez commented on #250
I think the main issue was whether we can make POST and PUT requests (we don't currently have a DELETE endpoint, but if we did, that would be in scope for this too).

I believe there's still some front end work to go before we'll know if POST and PUT are blocked by CORS, but I imagine they're not because I think that GET would fail as well. I'm going to pair with @paul tomorrow evening because he

[2019-12-11 00:10] aaron-suarez commented on #250
Dang, I didn't mean to tag @ paul, the person I meant to tag didn't populate right 😳

[2019-12-11 00:45] chynh commented on #250
Cool. I probably will be busy with packing my stuff up since I am moving soon but I will definitely keep on eye on slack and see if I can join in!

And the number of resources per page is definitely something that is up for a discussion. I just picked an arbitrary number to show per page.

Although, the issue with CORS is still there even without limiting the number of resources as I just tried to

[2019-12-11 01:12] aaron-suarez commented on #250
@chynh I mentioned you in the relevant slack channel, go ahead and log in and you'll see where we're meeting. Thanks for your interest!

[2019-12-17 18:20] chynh commented on #250
I went ahead and made a PR regarding this issue. It would be awesome if someone could take a look at it. Thanks!

[2019-12-20 04:03] #250 closed

[2019-12-23 23:44] #225 closed

[2019-12-24 00:09] #207 closed

[2020-01-02 21:57] chynh commented on #211
Hello,

I was working on this and stumbled upon an issue when modifying the test suite to reflect the changes that I made. As you can see, I modified so that it would take in API credentials.

[code]

Basically, ``test_update_votes`` would fail with the following error message:

[code]

However, it would pass if I modify ``get_api_key`` to accept my actual login credentials.

I am not sure how to

[2020-01-02 22:06] aaron-suarez commented on #211
@chynh You need to mock the API call to the backend by passing in `fake_auth_from_oc` to the test function. Should look like this:

[code]

That might fail linting for being too long of a line, but other than that it should solve your problem

[2020-01-02 23:05] chynh commented on #211
Thanks for the pointer!

Now ``test_update_votes`` is passing but ``test_apikey_commit_error`` is failing for some reason after the change...

[code]

[2020-01-02 23:20] aaron-suarez commented on #211
What all did you change? Without knowing the full diff it's really hard to help you troubleshoot.

Might be worth pushing up your branch and then linking to it so I can see the diff on github

[2020-01-03 00:47] chynh commented on #211
Here is the full diff:

https://github.com/OperationCode/resources_api/compare/master...chynh:limit-voting

[2020-01-05 19:50] #229 closed

[2020-01-05 20:07] aaron-suarez commented on #211
@chynh I pulled down your branch and I saw the same problem with `test_apikey_commit_error`. I think it would be easier to troubleshoot once we merge #266 so why don't we come back to this after that.

And just a note, your current implementation publically leaks everyone's API key that has voted on a given resource. I like the idea of a many-to-many relation of Users to Resources where each user

[2020-01-05 21:39] chynh commented on #211
@aaron-suarez Got it. I'll wait until we merge #266

I realize that I definitely have overlooked the security aspect of my implementation. I'll go ahead and modify it so that we no longer expose users' API keys.

[2020-01-10 02:34] aaron-suarez opened #270 "Fix remaining issues with tests"
In #266 we made a lot of improvement on the tests, but we had to throw in the towel on a few of the issues:

1) The `search` tests might not be testing anything. See https://github.com/OperationCode/resources_api/pull/266#discussion_r361545451

2) There's almost certainly a better abstraction for `test_algolia_exception_error` and `test_algolia_unreachable_host_error` because they are the exact sa

[2020-01-10 02:52] #246 closed

[2020-01-19 18:53] aaron-suarez commented on #249
Fixed by https://github.com/OperationCode/operationcode_infra/pull/141

[2020-01-22 20:22] andy5995 opened #274 "resource suggestion - up-for-grabs"
I suggested this in Slack, raZ0r agreed it would be a good resource

https://up-for-grabs.net/

[2020-01-27 16:44] #249 closed

[2020-01-27 21:43] aaron-suarez commented on #274
Hi @andy5995! If you'd like to add it as a resource, please use the API to do so. The documentation for adding it via the API is here https://resources.operationcode.org/#tag/Create-Resources/paths/~1resources/post

Basically you just `POST https://resources.operationcode.org/api/v1/resources` with your JSON payload.

Alternatively, feel free to post the link in slack and react to it with a 💾 emoj

[2020-01-27 21:43] #274 closed

[2020-03-04 05:36] aaron-suarez opened #279 "Investigate issue with Rate Limiting"
The rate limiting logic has caused the healthchecks from EKS to cause a denial of service to all clients of the API. More investigation is needed, but it looks like we need two fixes:
1) Whitelist the IP address spaces of EKS so it doesn't get rate limited
2) Ensure that when rate limiting happens, only the problematic client gets rate limited, not all clients everywhere. The whole point of rate l

[2020-03-04 05:50] irvingpop commented on #279
Let's just not have a rate limit for `/healthz`, I think that would solve the operational issues

[2020-03-04 13:37] aaron-suarez commented on #279
Alright, to remove rate limiting, it looks like we need to add `@limiter.exempt` to that particular endpoint. Then we need to figure out whether rate limiting applies to all clients and make that not the case

[2020-03-04 15:43] aaron-suarez commented on #254
This bit me today... there was an updated version of `Werkzeug` released in January and it had a breaking change for how you import the function we use from it. We really need to get these pinned.

[2020-03-08 00:00] #279 closed

[2020-03-08 00:00] #254 closed

[2020-03-08 05:33] aaron-suarez opened #281 "Implement poetry for managing dependencies"
Per https://github.com/OperationCode/resources_api/pull/271#issuecomment-596150359, we will have a simpler time managing dependencies with poetry (rather than manually doing what we do now with `requirements.txt`). Poetry should be used so it's consistent with https://github.com/OperationCode/back-end

Acceptance criteria:
1) implement poetry to manage dependencies
2) ensure that this change is es

[2020-03-13 01:17] aaron-suarez commented on #235
@Kshitij09 Did you ever get it working on Ubuntu?

And yes, you can change the title if you like. I don't think I've heard of anyone else running into this issue but we can leave it open until someone can reproduce.

[2020-03-13 01:49] #211 closed

[2020-05-06 19:36] aaron-suarez opened #305 "500 error when sending a string "false" instead of a boolean"
When `POST`ing a new resource, if you have an otherwise valid resource but include `"paid": "false"` instead of `"paid":false` you get a 500 response. We should either convert the string to a boolean (so `"paid":"false"` would act the same as `"paid":false`) or we should return a 422 error response indicating that this field must be a boolean.

Personally, I'm a big fan of converting it to a boole

[2020-05-06 19:53] #83 closed

[2020-05-06 21:29] #281 closed

[2020-05-06 22:43] jamesfitzer commented on #305
So, validations.py is already taking care of HALF the problem. If you put anything in that field other than a permutation of "true" or "false" with different cases, it bombs out with a 422.

`if col_type is bool:
                if type(field) is str and field.lower() in ["false", "true"]:
                    continue`

The problem comes when setting the value. I have a fix I'm about to check in.

[2020-05-06 23:04] jamesfitzer commented on #305
#306 to fix this

[2020-05-08 18:00] #305 closed

[2020-06-04 19:29] aaron-suarez commented on #270
@rooshs481 is going to take this one on

[2020-06-16 23:22] aaron-suarez opened #328 "Stop paginating on `GET /categories` and `GET /languages`"
The front end needs to have all of the data available from those endpoints to populate the dropdowns. Therefore, we need to stop paginating and let the client decide how it wants to handle the data.

[2020-06-24 00:32] aaron-suarez opened #334 "Paginator max page size is 100 but can submit up to 200 resources in POST /resources"
We should bump up the Paginator's max page size to 200 so we're consistent between the two.

[2020-06-24 01:02] aaron-suarez commented on #22
This past weekend I went through the database and changed all of the "multiple" to their respective multiple languages. It took a very long time. Anyway, I think that this issue is worth closing now. The resources.yml still has "multiple" in it, but the production DB does not and that's good enough for me.

[2020-06-24 01:02] #22 closed

[2020-06-24 01:05] aaron-suarez commented on #103
Because of #325 (which does check for an expiration), I no longer expect this to be a problem. UUIDs are unique enough for the amount of users I expect to have, and we already have a safeguard in case of a collision. I can be convinced otherwise, but for now I think that #325 and the setup with the front end solves this problem. Let me know if anyone disagrees.

[2020-06-24 01:05] #103 closed

[2020-06-24 14:30] #187 closed

[2020-06-26 14:32] #334 closed

[2020-06-26 14:51] aaron-suarez opened #338 "Return "Getting Started" resources first when no parameters specified"
When the user first arrives at the Resources page on the front end, they are presented with whatever resources the database happens to serve up. Since we don't yet have featured categories on the front end, it would be nice to go ahead and serve up some resources that are relevant for beginners who maybe have no idea where to start on their learning journey. There are a bunch of great blog posts a

[2020-07-01 01:55] Digbigpig commented on #338
I found a good example for this in SQLAlchemy. https://stackoverflow.com/a/17494735
I think this can be implemented within an if statement [somewhere around here.](https://github.com/OperationCode/resources_api/blob/37ab0b449ff180432237c6884370f9e14d56f91e/app/api/routes/resource_retrieval.py#L46)

[2020-07-01 01:56] jtmst commented on #338
Oh nice!  I'll try and implement that tomorrow during lunch. Thank you.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Richard Brown <notifications@github.com>
Sent: Tuesday, June 30, 2020 9:55:15 PM
To: OperationCode/resources_api <resources_api@noreply.github.com>
Cc: jtmst <jtmills09@live.com>; Assign <assign@noreply.github.com>
Subject: Re: [OperationCo

[2020-07-05 23:09] #328 closed

[2020-07-05 23:55] #338 closed

[2020-07-06 02:24] aaron-suarez opened #344 "Languages/Categories should delete themselves if they no longer exist"
Suppose we have a language called `CSS/Bootstrap` and then someone realized that that's two languages and then changes the languages for that resource to be `["CSS","Bootstrap"]` instead. What happens to the language `CSS/Bootstrap`? Well, it gets orphaned. It exists, but there are not resources that have that language.

I think that whenever a resource is updated and the `languages` attribute is

[2020-07-23 01:39] aaron-suarez opened #354 "Makefile should have `make shell`"
To start a flask shell, you can run `docker-compose run resources-api flask shell`. This should be a make command available as `make shell`.

Acceptance Criteria:
Running `make shell` at the terminal will bring up a flask shell

[2020-07-23 01:44] aaron-suarez opened #355 "Cannot delete last language when updating a resource"
Currently, when you want to remove languages from a resource, you can remove all of them except for the last one.

If you send `langauges: null` or omit languages from the PUT request altogether, it should leave the `languages` alone and not update them at all (current behavior). But when you want to clear out the array of resources, you should be able to by sending `languages: []`, which currentl

[2020-07-23 01:47] aaron-suarez opened #356 "When updating a resource, logs should print JSON"
Currently, when you update a resource, the logs print out the Python object of what was sent (a dictionary, a list, etc). Instead, the logs should contain the JSON form of this data so that if we need to restore it, we can just copy and paste it into the request and press "send" without having to process any additional data.

[2020-07-29 03:48] evmende commented on #356
logger.info(f"Updating resource. Old data: {json.dumps(resource.serialize)}")

Not sure if this is doing what you need it to. My understanding is the json.dumps(resource.serialize) converts the resource.serialize object to json, then that is formatted by the f-string and passed into logger.info

Question 1: Do I need to keep the f-string since I formatted the data to json?
Question 2: Is the above

[2020-07-29 03:53] aaron-suarez commented on #356
The code you provided is exactly what I was trying to guide you toward. I'm glad you made it there without me having to give you the answer :smile:

If you want to ditch the f-string, it will look like this:
[code]

I'll leave it up to you to decide which looks cleaner. Whatever you do, go ahead and make the request and see what it looks like in the logs to make sure it looks like you expect it to

[2020-08-02 03:35] evmende commented on #356
FRICKEN PUMPED! Glad I got the answer. I was beginning to wonder....

Yea I'm not sure I'm running this right with

`make all`

Then going to http://localhost:5000/api/v1/apikey

It doesn't ask for my credentials and I get this error:

`apiVersion"1.0"errorsmethod-not-allowedmessage"

This method is not allowed."status"

Method Not Allowed"status_code405`

I'm kinda lost on what should have happen

[2020-08-02 04:09] aaron-suarez commented on #356
I'm not sure what you mean by "then going to..."

What you need to do to get your API key is make a POST request to the `/apikey` endpoint, with a JSON body containing your OC username and password (there's an example in the README. So you can't "go to it" with your browser, you need to use a tool like Postman or curl to send a POST with the right data. GET requests aren't allowed to that endpoint

[2020-08-12 02:02] aaron-suarez commented on #354
Closed in #359

[2020-08-12 02:02] #354 closed

[2020-08-13 00:32] mike-lloyd03 commented on #344
@aaron-suarez any problems with me assigning myself to this one?

[2020-08-13 00:46] aaron-suarez commented on #344
No problem at all. Were you there in the meeting when I was going over this one and what it's about? If not, that's fine, just ask if you have any issues.

[2020-08-13 00:48] mike-lloyd03 commented on #344
No I wasn't in the meeting but I think I got it. I'll let you know if I need any pointers.

[2020-08-13 01:16] aaron-suarez commented on #355
@copygodistaken how are you coming on this? Would you like to set up a time to pair together on it and get it knocked out?

[2020-08-13 03:17] #356 closed

[2020-08-28 15:24] aaron-suarez opened #369 "Change "paid" to "free""
Resources currently have an attribute of "paid" which is either true or false. However, it's not entirely clear what this means. Instead, the attribute should be "free". This will require a switch of all of the current data, because it means the opposite (for example, right now, freecodecamp is in there as "paid: false" but it will need to be "free: true"). I don't have a great idea for exactly ho

[2020-08-28 15:25] aaron-suarez commented on #369
This will require docs changes as well, so don't forget to edit the swagger file!

[2020-09-06 17:31] aaron-suarez opened #371 "Beginner issue: README.md instructions should have user pull up docs pages"
In the last step of the "Getting Started" section of the README, we have the user navigate to http://localhost:5000/api/v1/resources and then say "If you see some JSON with a bunch of resources, it worked!"

https://github.com/OperationCode/resources_api/blame/main/README.md#L36-L38

I think it would be better to go ahead and have them navigate to `http://localhost:5000` directly and then say that

[2020-09-24 14:20] dependabot-preview[bot] opened #376 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/OperationCode) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/OperationCode/update-logs/48614821).

[2020-09-25 14:13] #376 closed

[2020-09-26 15:10] Matt-st opened #377 "Duplicate typescript search item in languages field for resource search by language"
# Bug Report
## What is the current behavior?
The current behavior is that 2 items show up for the language "typescript" when searching by language.

## What is the expected behavior?
There should only be one option that shows up in the languages search field for "typescript".

## What steps did you take to get this behavior?
I went to this [page](https://operationcode.org/resources/1?languages=c%

[2020-09-27 22:38] kylemh commented on #377
Good find, @Matt-st

I moved this into the Resources API repo.

[2020-09-28 23:38] aaron-suarez commented on #377
@Matt-st I just fixed the issue with the duplicate typescript language in prod. Do you want to take a stab at fixing the API to add a deduplicate constraint?

[2020-09-30 11:12] Kandeel4411 commented on #369
Helloo! I think I could work on this if its still up

[2020-10-01 19:52] avats-dev commented on #371
@aaron-suarez I'm taking up on this. Thanks:tada:

[2020-10-02 14:49] #355 closed

[2020-10-02 20:30] aaron-suarez opened #383 "Dockerfile should not be root"
Right now, the Dockerfile runs as root because that's the default. Instead, there should be a non-root user that the uwsgi process runs as.

[2020-10-04 10:41] Kandeel4411 commented on #383
I think I could work on this - Also I had a minor side question about the `make setup` in Makefile, Is there a reason we are mostly using `docker-compose run` instead of `docker-compose exec` ?
For example, the following happens:
[code]
This leads to multiple uneccessary stopped containers, if we substitute the `run` to `exec`  it would utilize the already up container created by `bg` and would ma

[2020-10-04 16:18] aaron-suarez commented on #383
At the time, I don't think any of us realized that it wasn't using the same container. Feel free to change it to `docker-compose exec` and if I don't see that breaking any functionality, I'll merge. Thanks for pointing that out!

[2020-10-08 21:51] #371 closed

[2020-10-09 07:42] techytushar commented on #369
Hey @aaron-suarez since there hasn't been any update for few days, I would like to take this up. According to me the steps involved in solving this would be:

1. Update the `paid` field in `Resource` in `models.py`
2. Run a SQL Update query on the existing database which will just reverse the boolean values ([https://stackoverflow.com/questions/15183012/update-a-boolean-to-its-opposite-in-sql-with

[2020-10-09 08:23] Kandeel4411 commented on #369
Hey @techytushar, sorry if it wasnt clear - the link in the PR wasnt working. This issue is mostly already done, we are just waiting for input from the frontend people to co-ordinate the change

[2020-10-09 18:23] #383 closed

[2020-10-11 02:57] avats-dev commented on #82
@aaron-suarez can I work on this? Also, the link given above for code climate issues gives a 404.

[2020-10-11 03:03] avats-dev commented on #259
@aaron-suarez I want to work on this one. Can you list all the files and references where I need to make changes? Thanks.

[2020-10-11 15:38] aaron-suarez commented on #259
@avats-dev The Open API file is here https://github.com/OperationCode/resources_api/blob/main/app/static/openapi.yaml

There isn't really clear acceptance criteria for this issue, just make some decisions about conventions that should be used (i.e., maybe we want to use PascalCase for component schemas) and then make everything conform to that convention.

One example is `ApiKeyResponse` and `ApiK

[2020-10-11 15:43] aaron-suarez commented on #82
@avats-dev I believe that was a 404 because we switched the default branch from `master` to `main` but never updated the default branch in Code Climate. Thanks for letting me know, I made the switch and it appears to be working now. Looks like there's 59 issues identified, so it appears you have your work cut out for you 😆 Thanks for picking this up

[2020-10-12 01:45] avats-dev commented on #82
@aaron-suarez yeah, now link works and I checked out the errors and I'll get started on this. I'm a bit busy with some personal work but I want to contribute, so I might take some time to get this done. Hope that's okay. Thanks.

[2020-10-12 02:09] aaron-suarez commented on #82
This has sat for a very long time, I would be shocked if someone else picked it up. So take your time my friend

[2020-10-12 08:21] avats-dev commented on #259
@aaron-suarez thanks for this, great explanation. Also, I'm going with `camelCase` as it is more common and also then there would be no need to change existing single word names.

[2020-10-14 09:15] fumblehool commented on #134
Hi, I would like to work on this. @aaron-suarez can you assign me this issue?

[2020-10-14 12:29] aaron-suarez commented on #134
@fumblehool are you clear on where #331 fell short and understand the acceptance criteria?

Rather than assign anyone this issue, I'd like just see a new PR opened with the authorization piece added in. But sure, if you're clear on it I'll assign it to you. Let me know

[2020-10-15 05:30] king-11 commented on #377
@aaron-suarez can I work on this issue as it seems inactive for awhile

[2020-10-15 15:27] aaron-suarez commented on #377
@king-11 yes, please take this on. I have no intention of adding de-duplication logic myself, and I suspect that neither does @Matt-st

It is a welcome change, however. Please submit your PR 😄

[2020-10-16 14:36] king-11 commented on #377
@aaron-suarez need a bit of clarification so I was thinking converting list inside get_languages to a set will help 🤔 but regarding that no allowing addition of different capitalisation in table for same language where is that part?

[2020-10-16 15:16] aaron-suarez commented on #377
@king-11 This function is the part that gets the list of languages from the request (specifically a resource creation or resource modification request) and formats it in a way that it can be added to the Resource.

https://github.com/OperationCode/resources_api/blob/main/app/api/routes/helpers.py#L18-L32

We'll need to add de-duplication checks in there

[2020-10-17 18:29] king-11 commented on #344
@aaron-suarez is the issue resolved I can start working on it if not?

[2020-10-17 18:33] king-11 opened #399 "Issue on make test"
So I ran tests on my system using make test but it failed on this test file ```tests/unit/test_routes/test_resource_update.py``` although it passed on circle ci
the error is as follows
[code]

[2020-10-17 18:53] mike-lloyd03 commented on #344
The code works as written right now but unit tests are needed to cover the new functionality.

[2020-10-17 19:12] king-11 commented on #344
ohh got it @mike-lloyd03 so if the tests are needed I can start working on it if it's alright?

[2020-10-17 19:13] king-11 commented on #259
@aaron-suarez I did some work on this issue too but am not able to send in a PR as a prior one is there :sweat_smile:

[2020-10-17 19:14] mike-lloyd03 commented on #344
Go for it.

[2020-10-18 12:10] king-11 commented on #344
@mike-lloyd03 i wrote some tests but it doesn't seem to work can you have a look

[code]
It's failing on the last assertion :(

[2020-10-19 00:10] kylemh opened #401 "Querying for many languages"
I'm not sure if this is a bug or a feature request, but when querying with both JavaScript and Python, I expected to see results where only both languages were relevant to each and every result. Instead, it was as if I joined the lists of both querying for JUST JavaScript and then JUST Python. I would suggest if a user searches for `JavaScript, Python` they are met with only resources that contain

[2020-10-19 16:33] fumblehool commented on #134
hi @aaron-suarez , I'm almost done with this. Will create a PR soon.

[2020-10-19 22:38] aaron-suarez commented on #399
I think I've seen that before, but I also thought we fixed it... What commit was this a problem on? I don't have a problem on f971973ee02e047e9b5feb29170797f65f71bb54 which is the HEAD of the repo as of 22 minutes ago

[2020-10-19 22:46] aaron-suarez commented on #344
@king-11 I haven't ran your test yet, but I would expect that last test to fail because we haven't yet written the code to have the languages delete themselves if they no longer exist. Did you try this on `main` or on @mike-lloyd03's branch?

[2020-10-19 22:46] #377 closed

[2020-10-19 22:50] mike-lloyd03 commented on #344
@aaron-suarez Languages should auto-delete as well. My last commit implemented that logic.

[2020-10-19 22:50] aaron-suarez commented on #401
Right, so there was some discussion back and forth about whether it should be the mathematical intersection of both languages, or the union. At some point we decided on the union of both languages, so basically it will return any result that has to do with either language.

I agree that the user can already query for either JavaScript or Python on its own, so you probably want the intersection...

[2020-10-19 22:51] aaron-suarez commented on #401
Perhaps it would look like a "Show more results" button, and it would show a query for the union of both results rather than the intersection if they didn't end up finding a suitable resource in the initial results.

[2020-10-19 22:58] aaron-suarez commented on #344
@mike-lloyd03 would you mind adding that test to #362 so we can get it merged? IIRC, the tests were what we were waiting on.

@king-11 if you want credit for writing this test, go ahead and commit it on a branch and then I'll show @mike-lloyd03 how to cherry-pick it off the branch and stick it on his PR. If you don't care one way or the other how the code makes its way in there, then he can just c

[2020-10-19 23:29] kylemh commented on #401
Thanks for the context! I would suggest to do intersection only, and if people request union - we figure it out then!

[2020-10-20 04:16] king-11 commented on #399
@aaron-suarez i did find the error on 34e7f7033

[2020-10-20 05:25] king-11 commented on #344
@aaron-suarez created the PR and yeah now it just fails on the last assertion until the changes are made

[2020-10-20 14:29] #369 closed

[2020-10-20 14:39] Kandeel4411 commented on #401
Hmm how about we include an additional query param like `&join=true` or `intersect=true` or `force=true` or something else which we could use then to differentiate between if the user wants union or intersection? I think it could help us offer both functionalities if needed and should be backwards compatible too. It should also be quite easy to add

[2020-10-20 15:00] Kandeel4411 commented on #399
@aaron-suarez While we fixed it on the CircleCI pipeline by changing ownership of the current directory to the docker user, this issue I am afraid shall still pop up when run locally using docker-compose ( if the host you are cloning too has strict permissions about the current directory ) - possible temporary solution is to run `sudo chown -R 5000 .` locally (UID is per our current [dockerfile](h

[2020-10-20 16:26] kylemh commented on #401
I'm just not sure how we can convey the difference to the user without being confusing.

[2020-10-20 16:47] Kandeel4411 commented on #401
Oh right - I was taking only backend functionality into account. I guess the frontend would need a small additional checkbox that says something like `exact [X] ` if we want both options to be available

[2020-10-20 18:32] fumblehool commented on #270
I think nobody is currently working on this. @aaron-suarez  Can I work on this?

[2020-10-20 19:54] aaron-suarez commented on #344
Cool I'll get with @mike-lloyd03 about cherry-picking your commit and sticking it on his PR so that way we can get that merged. If he's unavailable, I'll just do it myself since I think I have the power to edit either of your PRs

[2020-10-20 22:38] aaron-suarez commented on #399
I think I'd prefer the solution of running as root for development but I hope that problems don't pop up in staging that we couldn't catch in dev because of this difference. But I think it would probably be fairly easy to identify because it would certainly be permissions errors.

[2020-10-20 22:39] aaron-suarez commented on #401
I think I remember being on the intersect side of the argument when this was decided over a year ago, but I was convinced otherwise by the person I was chatting with. I have no issue changing it to that, I agree it feels the most intuitive.

[2020-10-20 22:40] aaron-suarez commented on #270
Go ahead @fumblehool !

[2020-10-20 23:59] Kandeel4411 commented on #399
We could still run the CI pipeline using the production config since we can solve the permission problems easily there and it should hopefully catch any errors I think

[2020-10-21 01:28] aaron-suarez commented on #399
Yeah, I think that will work. I trust our unit tests for the most part. Only once have I been caught up where I would have expected us to have a unit test for something and we didn't find out that the test was missing until production. And once in a 4 year project isn't too bad I think...

Ok so anyone that wants to handle this issue. Acceptance criteria:
- create a new docker-compose file for dev

[2020-10-21 06:54] Kandeel4411 commented on #399
Yup I think thats about everything - also what kind of config would our Makefile use? I think we need to include an env variable in there which or something which is by default dev config but changed to prod on CI

[2020-10-21 15:48] aaron-suarez commented on #399
The main "run" command in the Makefile is `make run` but that uses the flask development server. I have another command called `make run-with-metrics` that uses uwsgi instead of the flask server. I would think it makes most sense to just make additional commands similar to that, yeah?

So like, we have `make test` and we can have a `make test-ci` for when you need the production config. What do yo

[2020-10-21 16:25] Kandeel4411 commented on #399
yeah that makes sense, that should do it I think

[2020-10-22 14:57] #344 closed

[2020-10-22 18:43] king-11 commented on #82
@aaron-suarez can I work on some of there issues

[2020-10-22 22:42] aaron-suarez commented on #82
Sure @king-11! Maybe mention which ones you're doing so @avats-dev can make sure that he's working on different ones. There were over 50 issues last I checked so there should be plenty to go around

[2020-10-23 04:55] king-11 commented on #82
@avats-dev I will be working on minor duplication Issue to make code DRY which I found after applying the filter do tell if you have worked on some

[2020-10-29 18:59] #259 closed

[2020-12-16 17:01] aaron-suarez opened #417 "Unit test for /metrics"
It would be nice to have a unit test that makes sure `/metrics` works. I'm not sure if it's possible because `/metrics` is only available when using uwsgi as the webserver, rather than the flask development server. It's possible that it will work with pytest without any changes, I have no idea. Anyway, if someone wants to get that unit test in there, please do.

[2021-12-02 16:29] #417 closed